.coverage
.lint.txt
.lint.json
.security.json

__pycache__/
*.py[cod]
*.mypy_cache/
.html-documentation

dist/
build/
*.egg-info/
*.egg

.idea/

.realsync*

.DS_Store

.build_output/

# ignore other benchmark files
test/performance/.benchmarks/

/.serena/
