name: Build & Publish

on:
  workflow_call:
    secrets:
      PYPI_TOKEN:
        required: true

jobs:
  build-and-publish:
    name: Build & Publish
    runs-on: "ubuntu-24.04"
    permissions:
      contents: write
    steps:
      - name: Check out Repository
        id: check-out-repository
        uses: actions/checkout@v6

      - name: Set up Python & Poetry Environment
        id: set-up-python-and-poetry-environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v6
        with:
          python-version: "3.10"
          poetry-version: "2.3.0"

      - name: Build Artifacts
        id: build-artifacts
        run: poetry build

      - name: Publish Release to PyPi
        id: publish-release-to-pypi
        env:
          POETRY_HTTP_BASIC_PYPI_USERNAME: "__token__"
          POETRY_HTTP_BASIC_PYPI_PASSWORD: "${{ secrets.PYPI_TOKEN }}"
        run: poetry publish

      - name: Publish Release to GitHub
        id: publish-release-to-github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >-
          gh release create ${GITHUB_REF_NAME}
          --title ${GITHUB_REF_NAME}
          --notes-file ./doc/changes/changes_${GITHUB_REF_NAME}.md
          dist/*
