name: Build & Publish

on:
  workflow_call:
    secrets:
      PYPI_TOKEN:
          required: true

jobs:

  cd-job:
    name: Continuous Delivery
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v1

      - name: Build Artifacts
        run: poetry build

      - name: PyPi Release
        env:
          POETRY_HTTP_BASIC_PYPI_USERNAME: "__token__"
          POETRY_HTTP_BASIC_PYPI_PASSWORD: "${{ secrets.PYPI_TOKEN }}"
        run: poetry publish

      - name: GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          gh release create ${GITHUB_REF_NAME}
          --title ${GITHUB_REF_NAME}
          --notes-file ./doc/changes/changes_${GITHUB_REF_NAME}.md
          dist/*
