name: Examples

on:
  workflow_call:

jobs:
  build-matrix:
    name: Generate Build Matrix
    uses: ./.github/workflows/matrix-exasol.yml

  examples:
    name: Run Examples (Python-${{ matrix.python-version }}, Exasol-${{ matrix.exasol-version}})
    needs: [ build-matrix ]
    # For all containers with versions 7.1.x and older versions 8.y.z of docker-db,
    # there will be a crash if UDFs (User Defined Functions) are utilized.
    runs-on:  ubuntu-24.04
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        exasol-version: ${{ fromJson(needs.build-matrix.outputs.matrix).exasol-version }}
    permissions:
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Set up Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v5
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: "2.3.0"
          extras: "all"

      - name: Fix VM Crash in UDFs
        id: fix-vm-crash
        run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Start test db
        run: poetry run -- nox -s db:start -- --db-version ${{ matrix.exasol-version }}

      - name: Wait for Exasol container (UDF extraction)
        run: poetry run -- python examples/_wait_container.py

      - name: Run examples
        run: poetry run -- nox -s run:examples

      - name: Stop test db
        run: poetry run -- nox -s db:stop
