name: Merge-Gate

on:
  workflow_call:

jobs:
  run-fast-checks:
    name: Run Fast Checks
    uses: ./.github/workflows/checks.yml
    permissions:
      contents: read

  approve-run-slow-tests:
    name: Approve Running Slow Tests?
    runs-on: "ubuntu-24.04"
    permissions:
      contents: read
    # Even though the environment "manual-approval" will be created automatically,
    # it still needs to be configured to require interactive review.
    # See project settings on GitHub (Settings / Environments / manual-approval).
    environment: manual-approval
    steps:
      - name: Tests
        run: echo "Slow tests approved"

  run-slow-checks:
    name: Run Slow Checks
    needs:
      - approve-run-slow-tests
    uses: ./.github/workflows/slow-checks.yml
    secrets: inherit
    permissions:
      contents: read

  examples:
    needs: [ approve-run-slow-tests ]
    uses: ./.github/workflows/examples.yml
    permissions:
      contents: read

  ssl_cert:
    needs: [ approve-run-slow-tests ]
    uses: ./.github/workflows/ssl_cert.yml
    permissions:
      contents: read

# Will re-activate in #262
#  performance-checks:
#    needs: [ approve-run-slow-tests ]
#    uses: ./.github/workflows/performance-checks.yml
#    permissions:
#      contents: read

  # This job ensures inputs have been executed successfully.
  allow-merge:
    name: Allow Merge
    runs-on: "ubuntu-24.04"
    permissions:
      contents: read
    # If you need additional jobs to be part of the merge gate, add them below
    needs:
      - run-fast-checks
      - run-slow-checks
      - examples
      - ssl_cert
    # Each job requires a step, so we added this dummy step.
    steps:
      - name: Approve
        run: echo "Merge Approved"
