name: Status Report

on:
  workflow_call:

jobs:

  report:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v1

      - name: Download Artifacts
        uses: actions/download-artifact@v6
        with:
          path: ./artifacts

      - name: Copy Artifacts into Root Folder
        run: poetry run -- nox -s artifacts:copy -- artifacts

      - name: Validate Artifacts
        run: poetry run -- nox -s artifacts:validate

      - name: Upload to sonar
        env:
          SONAR_TOKEN: "${{ secrets.SONAR_TOKEN }}"
        run: poetry run -- nox -s sonar:check

      - name: Generate Report
        run: poetry run -- nox -s project:report -- --format json | tee metrics.json

      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: metrics.json
          path: metrics.json

      - name: Generate GitHub Summary
        run: |
          echo -e "# Summary\n" >> $GITHUB_STEP_SUMMARY
          poetry run -- nox -s project:report -- --format markdown >> $GITHUB_STEP_SUMMARY
          poetry run -- nox -s dependency:licenses >> $GITHUB_STEP_SUMMARY
          echo -e "\n\n# Coverage\n" >> $GITHUB_STEP_SUMMARY
          poetry run -- coverage report --format markdown >> $GITHUB_STEP_SUMMARY || true
          poetry run -- tbx lint pretty-print >> $GITHUB_STEP_SUMMARY
          poetry run -- tbx security pretty-print .security.json >> $GITHUB_STEP_SUMMARY
