name: Slow-Checks

on:
  workflow_call:

jobs:
  build-matrix:
    name: Build Matrix
    uses: ./.github/workflows/matrix-all.yml
    permissions:
      contents: read

  run-integration-tests:
    name: Run Integration Tests (Python-${{ matrix.python-version }}, Exasol-${{ matrix.exasol-version}})
    needs:
      - build-matrix
    runs-on: "ubuntu-24.04"
    permissions:
      contents: read
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.build-matrix.outputs.matrix) }}
    steps:
      - name: Check out Repository
        id: check-out-repository
        uses: actions/checkout@v6

      - name: Set up Python & Poetry Environment
        id: set-up-python-and-poetry-environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v6
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: "2.3.0"
          extras: "all"
      - name: Set up Custom Host
        id: set-up-custom-host
        run: echo "127.0.0.1 exasol-test-database" | sudo tee -a /etc/hosts
      - name: Run Integration Tests
        id: run-integration-tests
        run: poetry run -- nox -s test:integration -- --coverage --db-version ${{ matrix.exasol-version }}

      - name: Upload Artifacts
        id: upload-artifacts
        uses: actions/upload-artifact@v6
        with:
          name: coverage-python${{ matrix.python-version }}-exasol${{ matrix.exasol-version }}-slow
          path: .coverage
          include-hidden-files: true
